.flex {
    display: flex;
    flex-wrap: wrap;

    &__box {
        width: 400px;
        height: 100px;
        margin: 10px;
    }

    &__box--orange {
        background-color: orange;
    }

    &__box--red {
        background-color: red;
    }

    &__box--blue {
        background-color: blue;
    }

    &__box--yellow {
        background-color: yellow;
    }

    &__box--purple {
        background-color: purple;
    }
}
